# Laços de repetição: FOR

Vamos criar um programa que calcule números de uma tabuada

In [1]:
valor = int(input('Qual tabuada você deseja calcular?'))

print(valor, 'X', 0, '=', valor*0)
print(valor, 'X', 1, '=', valor*1)
print(valor, 'X', 2, '=', valor*2)
print(valor, 'X', 3, '=', valor*3)
print(valor, 'X', 4, '=', valor*4)
print(valor, 'X', 5, '=', valor*5)
print(valor, 'X', 6, '=', valor*6)
print(valor, 'X', 7, '=', valor*7)
print(valor, 'X', 8, '=', valor*8)
print(valor, 'X', 9, '=', valor*9)
print(valor, 'X', 10, '=', valor*10)

Qual tabuada você deseja calcular?5
5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

É a maneira mais eficiente? 
- no dia a dia existem problemas que precisamos lidar como esse

Vamos usar um laço de repetição para 'repetir' o que simplesmente se **repete** e se **incrementa**

A estrutura do for no python é sempre desta forma:
```
    para cada_valor no conjunto_de_dados:
        fazer algo com cada_valor
```

In [3]:
valor = int(input('Qual tabuada você deseja calcular?'))

for i in range(0, 11):
    print(valor, 'X', i, '=', valor*i)

Qual tabuada você deseja calcular?5
5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Quando usamos o range, ele cria um conjunto de valores (0, 1, 2, 3 ...)

In [4]:
range(10, 1000000)

range(10, 1000000)

Conseguimos também percorrer uma lista dentro do for

In [6]:
for valor in ['abacate', 'amoeba', 1, True]:
    print(valor)

abacate
amoeba
1
True

## Desafio 0

Crie uma lista de nomes e percorra ela com for.

O objetivo final é cada nome aparecer com a posição e um rótulo, por exemplo:

```
1º nome: Natally
2º nome: Fabiano
3º nome: Kamila
```

In [7]:
nomes = ['Natally', 'Fabiano', 'Kamila']

contador = 1
for nome in nomes:
    print(contador, 'º nome:', nome)
    
    # ou pode ser contador = contador + 1
    
    contador += 1

1 º nome: Natally
2 º nome: Fabiano
3 º nome: Kamila

## Desafio 1

Crie esses dicionários abaixo:
    
```
produto = {
    'valor': 860.90,
    'nome': 'smart watch'
}

produto_2 = {
    'valor': 4300.90,
    'nome': 'Notebook dell'
}```

Coloque ambos em uma lista e utilizando for, percorra a lista e o resultado final deve ser:

```
produto: smart watch, valor final:  865.9
produto: Notebook dell, valor final:  4300.9
``` 

obs: todo produto que o valor é menor que 1000.0 reais, é acrescentado 5.0 reais de frete

In [10]:
produto = {
    'valor': 860.90,
    'nome': 'smart watch'
}

produto_2 = {
    'valor': 4300.90,
    'nome': 'Notebook dell'
}

produtos = [produto, produto_2]

for produto in produtos:
    if produto['valor'] < 1000.0:
        produto['valor'] = produto['valor'] + 5.0
        
    print('produto:', produto['nome'], 'valor final: ', produto['valor'])

produto: smart watch valor final:  865.9
produto: Notebook dell valor final:  4300.9

# Laços de repetição: While

No while é criado uma condição na sua estrutura

```
    enquanto condição
        execute o que você quiser
```

In [12]:
nome = input('digite seu nome: ')

while nome == 'groger':
    print(':)')
    nome = input('digite seu nome: ')

digite seu nome: groger
:)
digite seu nome: groger
:)
digite seu nome: oi

## DESAFIO 2

Vamos criar um programa que um usuário pode digitar um valor 3 vezes e no final mostre a soma dos mesmos

In [19]:
contador = 1
valores = []

while contador <= 3:
    valor = float(input('valor '+ str(contador) + ' :'))
    valores.append(valor)
    contador += 1
    
print('A soma é ', sum(valores))

valor 1 :10
valor 2 :20
valor 3 :30
A soma é  60.0

## DESAFIO 3
Faça um programa que leia o sexo de uma pessoa, mas só aceite os valores M, F ou Outro. Caso esteja errado, peça a digitação novamente até ter um valor correto.

In [24]:
genero = input('''Digite o seu gênero: 
'F' para feminino 
'M' para masculino
'O' para outro: \n''')

while genero.upper() != "M" and genero.upper() != "F" and genero.upper() != "O":
  print("Dados inválidos. Tente novamente.")
  genero = input('''Digite o seu gênero: 
'F' para feminino 
'M' para masculino
'O' para outro: \n''')
print("Cadastro realizado com sucesso!")

Digite o seu gênero:
'F' para feminino
'M' para masculino
'O' para outro:
soa
Dados inválidos. Tente novamente.
Digite o seu gênero:
'F' para feminino
'M' para masculino
'O' para outro:
M
Cadastro realizado com sucesso!

# Funções

Podemos organizar nossos códigos para serem chamados mais de uma vez, assim não precisamos escrever tudo de novo

A sintaxe de funções é:

```
    def nome da função (parametros):
        variavel = o que voce quer fazer
        retornar variavel
        ```

In [25]:
# Vamos criar uma função que some três valores

def somar_tres_valores(valor_1, valor_2, valor_3):
    soma = valor_1 + valor_2 + valor_3
    return soma

In [26]:
# Para chamar a função criada, faça como o código abaixo:

print(somar_tres_valores(10, 30, 40))

80

In [27]:
# Uma função pode ter um print e não possuir retorno (não é indicado)

def somar_tres_valores(valor_1, valor_2, valor_3):
    soma = valor_1 + valor_2 + valor_3
    print(soma)

In [28]:
somar_tres_valores(10, 29, 39)

78

# Desafio 4

Crie uma função que solicite um valor e retorne a tabuada do mesmo até o 10.

obs:
- Pode ser uma função sem retorno e com print
- Lembre-se que nome de função se inicia com verbo

In [29]:
def calcular_tabuada(valor):
    for i in range(0, 11):
        print(valor, 'X', i, '=', valor*i)

In [30]:
calcular_tabuada(2)

2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [31]:
calcular_tabuada(39)

39 X 0 = 0
39 X 1 = 39
39 X 2 = 78
39 X 3 = 117
39 X 4 = 156
39 X 5 = 195
39 X 6 = 234
39 X 7 = 273
39 X 8 = 312
39 X 9 = 351
39 X 10 = 390

## Desafio 5

Crie 4 funções 

- sacar
- extrato
- depositar
- executar atm

Ao chamar a função executar atm o usuário terá algumas opções como:

- tecle 1 para sacar seu dinheiro
- tecle 2 para extrato do seu dinheiro
- tecle 3 para depositar seu dinheiro

Lembre-se que para sacar não poderá ser um valor maior que seu saldo e para depositar não pode ser um valor maior que 1000 reais

crie novas regras se sentir falta enquanto estiver desenvolvendo o seu código

In [5]:
def sacar(saldo, valor_de_saque):
    if valor_de_saque >= 0:
        return saldo - valor_de_saque

def depositar(saldo, valor_de_deposito):
    if valor_de_deposito <= 1000:
        return saldo + valor_de_deposito
    return '

def extrato(saldo):
    print('Extrato:-----', saldo)

def executar_atm():
    saldo = float(input('digite um valor para simular seu saldo maior que 0-->'))
    opcao = 0
    
    while int(opcao) != 4:
        print('digite 1 para sacar')
        print('digite 2 para extrato')
        print('digite 3 para deposito')
        print('digite 4 para finalizar')

        opcao = input('qual sua opcao? ')
        
        if int(opcao) == 1:
            valor_saque = float(input('Qual seu valor de saque? '))
            saldo = sacar(saldo, valor_saque)
            print(saldo)
        elif int(opcao) == 2:
            extrato(saldo)
        elif int(opcao) == 3:
            valor_deposito = float(input('Qual seu valor de deposito? '))
            saldo = sacar(saldo, valor_deposito)
            print(saldo)
        else:
            print("Opção inválida. Tente novamente.")
    
    print('Obrigado por vir ao banco!')

In [ ]:
executar_atm()

digite um valor para simular seu saldo maior que 0-->100
digite 1 para sacar
digite 2 para extrato
digite 3 para deposito
digite 4 para finalizar
qual sua opcao? 1
Qual seu valor de saque? 10
90.0
digite 1 para sacar
digite 2 para extrato
digite 3 para deposito
digite 4 para finalizar
qual sua opcao? 2
Extrato:----- 90.0
digite 1 para sacar
digite 2 para extrato
digite 3 para deposito
digite 4 para finalizar
qual sua opcao? 3
Qual seu valor de deposito? 100
-10.0
digite 1 para sacar
digite 2 para extrato
digite 3 para deposito
digite 4 para finalizar