# Introdução a Python

In [ ]:
print('Olá Mundo')
print('HelloWorld')

# Isso é a função de print do python e aqui é apenas um comentário

### Desafio 00

imprima o nome de um colega da turma.

In [ ]:
print('Natália Valentin')

In [ ]:
# Conseguimos imprimir resultados
print(10*3)
print(5-2)
print(2**4)
print(10+48)
print(10/2)

## Variáveis e tipos de dados

In [ ]:
nome = 'Gabriel'
print('Olá, seja bem-vindo', nome)
print(type(nome))

In [ ]:
nome = 'Nat'
print(nome)

In [ ]:
altura = 1.90
print(altura)
print(type(altura))

In [ ]:
ano_de_nascimento = 1994
print(ano_de_nascimento)
print(type(ano_de_nascimento))

In [ ]:
eh_bilingue = True
print(eh_bilingue)
print(type(eh_bilingue))

In [ ]:
n_imaginario = 5-8j
print(n_imaginario)
print(type(n_imaginario))

In [ ]:
print(int(4.92))
print(float(2))
print(str(2000))
print(bool(True))

| Tipo        | Descrição           | Exemplo  |
| ------------- |:-------------:| -----:|
| Str ou String      | Texto | "Groger" |
| Float      | Número decimal      |  19000.87 |
| Int | Inteiro      |    10 |
| Bool | Booleano | True or False| True|
| Complex| Complexo| 1j|

### Desafio 01

Crie uma variável com o nome da sua área, quantidade de pessoas, seu salário desejado e finalmente uma variável booleana chamada eh_programador recebendo True ou False. Imprima todos os resultados e seus tipos.

In [ ]:
area = 'Marketing'
qtd_de_pessoas = 10
salario_desejado = 40000.00
eh_programador = True

print(area, type(area))
print(qtd_de_pessoas, type(qtd_de_pessoas))
print(salario_desejado, type(salario_desejado))
print(eh_programador, type(eh_programador))

## Input, Concatenação e Casting

In [ ]:
nome = input('Digite seu nome: ')
print('Que legal, você tem um belo nome', nome)
print('\n')
sobrenome = input('Digite seu sobrenome: ')
print('Que legal, você tem um belo sobrenome', sobrenome)
print('\n')
nome_completo = nome + ' ' + sobrenome
print('Seu nome completo é: ', nome_completo)

### Desafio 02

Crie um algoritmo que tenha como entrada o nome e ano de nascimento de uma pessoa, e retorne o texto abaixo fazendo o cálculo de sua idade:


```
Olá Maria, você é de 1994 e sua idade é de 27 anos.
```

In [ ]:
from datetime import date

nome = input('Digite seu nome: ')
ano_de_nascimento = int(input('Digite o ano de nascimento: '))
idade = date.today().year - ano_de_nascimento

print('Olá', nome + ',', 'você é de', ano_de_nascimento, 'e sua idade é de', idade, 'anos.')

## Strings

In [ ]:
texto = """
A National Aeronautics and Space Administration (NASA) ou Administração Nacional da Aeronáutica e Espaço é uma agência do Governo Federal dos Estados Unidos responsável pela pesquisa e desenvolvimento de tecnologias e programas de exploração espacial. Sua missão oficial é "fomentar o futuro na pesquisa, descoberta e exploração espacial". A NASA foi criada em 29 de julho de 1958, substituindo seu antecessor, o NACA - National Advisory Committee for Aeronautics (Comitê Consultivo Nacional para a Aeronáutica).

A NASA foi a responsável pelo envio do homem à Lua (veja projeto Apollo) e por diversos outros programas de pesquisa no espaço. Atualmente ela trabalha em conjunto com a Agência Espacial Europeia, com a Agência Espacial Federal Russa e com alguns países da Ásia para a criação da Estação Espacial Internacional.

A NASA também tem desenvolvido vários programas com satélites e com sondas de pesquisa espacial que viajaram até outros planetas e até, alguns deles, se preparam para sair do nosso sistema solar, sendo a próxima grande meta, que tem atraído a atenção de todos, uma viagem tripulada até o planeta Marte, nosso vizinho.

A ciência da NASA está focada numa melhor compreensão da Terra através do Earth Observing System, na promoção da heliofísica através do trabalho do Heliophysics Research Program, na exploração do sistema solar com missões robóticas avançadas, tais como New Horizons, e na pesquisa astrofísica, aprofundando-se em tópicos como o Big Bang com o auxílio de grandes observatórios.
"""

In [ ]:
print(texto)

In [ ]:
texto.count('NASA')

In [ ]:
len(texto)

In [ ]:
texto = texto.replace('NASA', 'Nasa')

In [ ]:
print(texto)

In [ ]:
texto.count('NASA')

In [ ]:
texto.count('Nasa')

In [ ]:
texto.index('ciência')

In [ ]:
palavra = 'Lua'

In [ ]:
palavra.upper()

In [ ]:
palavra.lower()

In [ ]:
palavra in texto

In [ ]:
texto.count(palavra)

### Desafio 3


#### Texto

Brasil, oficialmente República Federativa do Brasil é o maior país da América do Sul e da região da América Latina, sendo o quinto maior do mundo em área territorial (equivalente a 47 porcento do território sul-americano) e sexto em população (com mais de 200 milhões de habitantes). É o único país na América onde se fala majoritariamente a língua portuguesa e o maior país lusófono do planeta, além de ser uma das nações mais multiculturais e etnicamente diversas, em decorrência da forte imigração oriunda de variados locais do mundo.

A partir de um novo texto, traga os dados básicos como:

- Quantidade de caracteres
- Quantidade de cada vogal no texto
- Quantas vezes aparece a palavra América no texto

Depois, substítua Brasil por BRASIL.

In [ ]:
texto = """
Brasil, oficialmente República Federativa do Brasil é o maior país da América do Sul e da região da América Latina, sendo o quinto maior do mundo em área territorial (equivalente a 47 porcento do território sul-americano) e sexto em população (com mais de 200 milhões de habitantes). É o único país na América onde se fala majoritariamente a língua portuguesa e o maior país lusófono do planeta, além de ser uma das nações mais multiculturais e etnicamente diversas, em decorrência da forte imigração oriunda de variados locais do mundo.
"""

In [ ]:
len(texto)

In [ ]:
print('vogal a:', texto.count('a'))
print('vogal e:', texto.count('e'))
print('vogal i:', texto.count('i'))
print('vogal o:', texto.count('o'))
print('vogal u:', texto.count('u'))

In [ ]:
texto.count('América')

In [ ]:
texto = texto.replace('Brasil', 'BRASIL')

In [ ]:
print(texto)

## Exercícios em dupla

1) Faça um programa que leia duas notas de um aluno e imprima na tela sua média.





2) Faça um programa que receba um valor em metros e o exiba convertido para centímetros e milímetros.





3) Faça um programa que receba um valor em real e converta para dólar





4) Faça um programa que cálcule a área de um círculo.

$area = \pi*r^2$

In [5]:
# 1)

n1 = float(input('digite a nota 1: '))
n2 = float(input('digite a nota 2: '))

print('A média é: ', sum([n1, n2])/2)

digite a nota 1: 10
digite a nota 2: 5
A média é:  7.5

In [6]:
# 2)
metros = int(input('Digite o valor em metros: '))
print('Centímetros: ', metros * 100)
print('Milímetros: ', metros * 1000)

Digite o valor em metros: 2
Centímetros:  200
Milímetros:  2000

In [3]:
# 3)
real = float(input('Digite o valor em reais: '))
taxa = 5.01
resultado = round(real * taxa, 2)
print('O valor em dólar é:', resultado)

Digite o valor em reais: 23
O valor em dólar é: 115.23

In [8]:
# 4)
import math

raio = float(input('digite o valor do raio: '))
area = math.pi * (raio ** 2)
print('A área é de:', round(area, 2))

digite o valor do raio: 2
A área é de: 12.57

In [7]:
math.pi

3.141592653589793