# Estruturas de dados

Abaixo estamos criando uma lista com 8 elementos

### Listas

In [1]:
alunos = ['Carol', 'Natália', 'Gabriel Roger', 'Bruno', 'Diandra', 'Ana', 'Nicolas', 'Camila']

Assim que imprimimos a lista vemos que a lista aparece separada por vírgula cada um de seus elementos

In [2]:
print(alunos)

['Carol', 'Natália', 'Gabriel Roger', 'Bruno', 'Diandra', 'Ana', 'Nicolas', 'Camila']

Vamos conferir se realmente possuem 8 elementos

In [3]:
print(len(alunos))

8

Uma lista pode ser heterogênea

In [4]:
itens = ['texto', 150, 2.6, True, 1j, ['X', 'Y', 12, 20], {'nome': 'Gabriel'}]

In [5]:
print(itens)

['texto', 150, 2.6, True, 1j, ['X', 'Y', 12, 20], {'nome': 'Gabriel'}]

é possivel cria uma lista com qualquer tipo de dado, inclusive lista de listas

Podemos adicionar um novo elemento na lista

In [6]:
alunos.append('Fábio')

In [7]:
print('Lista de alunos:', alunos, 'com a quantidade de', len(alunos), 'elementos.')

Lista de alunos: ['Carol', 'Natália', 'Gabriel Roger', 'Bruno', 'Diandra', 'Ana', 'Nicolas', 'Camila', 'Fábio'] com a quantidade de 9 elementos.

ou remover um elemento

In [8]:
alunos.remove('Fábio')

In [9]:
print(alunos)

['Carol', 'Natália', 'Gabriel Roger', 'Bruno', 'Diandra', 'Ana', 'Nicolas', 'Camila']

Para acessar um elemento utilizamos índices. Lembrando que python começa com o índice 0 no primeiro elemento.

In [10]:
print(alunos[0])

Carol

In [11]:
print(alunos[2])

Gabriel Roger

Para Modificarmos um elemento, acessamos seu índice e sobrescrevemos como se fosse uma variável comum

In [12]:
alunos[3] = 'Gustavo'

In [13]:
print(alunos)

['Carol', 'Natália', 'Gabriel Roger', 'Gustavo', 'Diandra', 'Ana', 'Nicolas', 'Camila']

### Dicionários

A estrutura de um dicionário é baseada em chave e valor

In [14]:
funcionario = {
    'nome': 'Jonas',
    'setor': 'TI',
    'idade': 50,
    'valor_hora': 50,
    'ativo': True
}

In [15]:
print(funcionario)

{'nome': 'Jonas', 'setor': 'TI', 'idade': 50, 'valor_hora': 50, 'ativo': True}

In [16]:
print(funcionario['nome'])

Jonas

## Desafio 0

Através do dicionário acima, cálcule o sálario dos últimos 30 dias trabalhados por Jonas e crie um novo campo em funcionário salvando essa informação. 

dica: Utilize a chave **valor_hora**

sua saída deve ser dessa forma:

{'nome': 'Jonas', 'setor': 'TI', 'idade': 50, 'valor_hora': 50, 'ativo': True, **'salario': 1500**}

Crie uma lista chamada produtos e dentro dela, coloquei dois produtos. Sua saída deve ser dessa forma:

[{'nome': 'bolacha', 'marca': 'trakinas', 'preco': 5.4}, {'nome': 'biscoito de polvilho', 'marca': 'globo', 'preco': 6.3}]

In [19]:
print(produtos)

[{'nome': 'bolacha', 'marca': 'trakinas', 'preco': 5.4}, {'nome': 'biscoito de polvilho', 'marca': 'globo', 'preco': 6.3}]

# Operadores Booleanos

| operador        | Descrição           | Exemplo  |
| ------------- |:-------------:| -----:|
| ==      | igual | 1 == '1' |
| !=      | Não igual (diferente) |  'Azul' != 'azul'|
| > | Maior  |    11 > len('inferência')|
| < | Menor| -28 < -2|
| >= | Maior ou igual | len('groger@mastertech.com.br') >= 2|
| <= | Menor ou igual | 3 <= 3 |
| is | identidade do objeto igual'| nome is None|
| is not | identidade do objeto não igual'| nome is not None|
| in | está entre| 'gabriel' in nomes|
| not in| não está entre| 'gabriel' not in nomes|
| and | e | 1 == 1 and 2 == 3 |
| or  | ou| 1 == 1 or 2 == 3 |

In [20]:
1 == '1'

False

In [21]:
'Azul' != 'azul'

True

In [22]:
11 > len('inferência')

True

In [23]:
-28 < -2

True

In [24]:
len('groger@mastertech.com.br') >= 2

True

In [25]:
3 <= 3

True

In [26]:
nome = None
print(nome is None)

True

In [27]:
nome = None
print(nome is not None)

False

In [28]:
nomes = ['GABRIEL', 'Nat']

print('gabriel'.upper() in nomes)

True

In [29]:
nomes = ['GABRIEL', 'Nat']

print('Pedro' not in nomes)

True

In [30]:
1 == 1 and 2 == 3

False

In [31]:
1 == 1 or 2 == 3

True

# Estruturas condicionais

O entendimento da sintaxe é escrita dessa forma (Pseudocódigo):

problema:
    - Como saber se um estudante com a nota 70 no TOEFL foi admitido na University of Washington. A nota mínima para entrar nessa universidade é 76. Lembrando que os estudantes que tirarem entre 71 e 75 podem ter chances de fazerem a prova do TOEFL na univerdidade novamente

```
nota = 70

se nota > 75:
    aluno admitido
   
caso contrário se nota > 70 e nota < 76:
    aluno em exame
    
senão:
    aluno não admitido
```

In [32]:
nota = 70

if nota > 75:
    print('aluno admitido')
elif nota > 70 and nota < 76:
    print('aluno em exame')
else:
    print('aluno não admitido')

aluno não admitido

### Desafio 1

In [33]:
texto = """Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa. 
Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor, que serão 
interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais. Seu tamanho é variável."""

Através da variável texto acima, faça um programa que verifique a quantidade de vezes  que a palavra 'linguística' aparece no texto.

se for maior do que 3 imprima, 'Possuí muitas palavras linguísticas no texto', caso contrário não imprima nada.

Faça um programa que peça dois números inteiros e imprima o maior deles.

Digite o primeiro valor: 1
Digite o segundo valor: 1
1

Faça um programa que peça um email e uma senha, se o email for 'teste@teste.com' e a senha for '123456' imprima: 'login realizado com sucesso', caso contrário imprima: 'credenciais inválidas'.

Email: fds
senha: 2
credenciais inválidas

Faça um script que peça um valor e mostre na tela se o valor é positivo ou negativo.

digite um valor: 2
POSITIVO

Faça um programa que imprima se um valor é par ou ímpar.

digite um valor: 2
PAR

## Desafio 2

Crie um programa que verifique se uma pessoa pode solicitar empréstimo.

- Para que um empréstimo seja aprovado, o usuário deve ter entre 18 e 65 anos de idade, além de ter uma renda mensal três vezes maior que uma parcela do empréstimo.

- Nesse sistema, o usuário escolhe o valor desejado para empréstimo e a quantidade de parcelas. O sistema não cobra juros no empréstimo.

qual sua idade? 20
digite sua renda mensal: 1000
digite o valor do empréstimo: 10000
digite a quantidade de parcelas: 2
O status do seu empréstimo é:  NEGADO
motivo: RENDA MENSAL DEVE SER 3x MAIOR QUE PARCELAS